{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle lumière{% endblock %}

{% block body %}
    {{ include('partials/_menu.html.twig') }}

    <main class="container my-5">
        <h1 class="mb-5">Créer une nouvelle lumière</h1>

        <!-- Notifications -->
        {{ include('partials/_notifications.html.twig') }}

        <!-- Formulaire de modification de la photos du profil Lumière -->
        <section class="d-flex justify-content-between align-items-center">

        </section>

        <!-- Formulaire des informations de la lumière -->
        <section>
            {{ include('light/_form.html.twig', {'button_style': 'btn-sm bg-primary text-white rounded-2'}) }}
        </section>

    </main>

{% endblock %}
