<div class="card">
    <div class="card-header border-0 pb-0">
        <h5 class="card-title">Vie privée et sécurité</h5>
        <p class="mb-0">Votre sécurité est notre priorité</p>
    </div>
    <div class="card-body">
        <p>Eterno prend très au sérieux la vie privée et la sécurité de ses utilisateurs. Nous comprenons que communiquer avec vos proches disparus est une expérience délicate et personnelle. C'est pourquoi nous mettons en place des mesures de sécurité strictes pour garantir que vos messages restent privés et sécurisés.</p>
        <p>Tous les messages que vous envoyez à travers Eterno sont cryptés de bout en bout. Cela signifie que même nous, en tant que fournisseurs de services, ne pouvons pas accéder au contenu de vos messages. Seul l'auteur du message a la clé pour déchiffrer et lire les messages envoyés.</p>
        <p>Nous comprenons l'importance de préserver les souvenirs et les relations avec vos proches décédés. C'est pourquoi nous nous engageons à protéger vos données et à garantir que votre expérience sur Eterno soit aussi sécurisée que possible.</p>
    </div>
</div>
