{#
<div class="card">
    <!-- Card header START -->
    <div class="card-header border-0 pb-0">
        <h5 class="card-title">Vie privée et sécurité</h5>
        <p class="mb-0">Voir les paramètres de confidentialité et de sécurité de votre compte</p>
    </div>
    <!-- Card header START -->
    <!-- Card body START -->
    <div class="card-body">
        <!-- Privacy START -->
        <ul class="list-group">

            <!-- Privacy item -->
            <li class="list-group-item d-md-flex justify-content-between align-items-start">
                <div class="me-md-3">
                    <h6 class="mb-0"> Use two-factor authentication</h6>
                    <p class="small mb-0">Unaffected occasional thoroughly. Adieus it no
                        wonders spirit houses. </p>
                </div>
                <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i
                            class="bi bi-pencil-square"></i> Change
                </button>
            </li>

            <!-- Privacy item -->
            <li class="list-group-item d-md-flex justify-content-between align-items-start">
                <div class="me-md-3">
                    <h6 class="mb-0">Login activity</h6>
                    <p class="small mb-0">Select the language you use on social</p>
                </div>
                <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"
                        data-bs-toggle="modal" data-bs-target="#modalLoginActivity"><i
                            class="bi bi-eye"></i> View
                </button>
            </li>

            <!-- Privacy item -->
            <li class="list-group-item d-md-flex justify-content-between align-items-start">
                <div class="me-md-3">
                    <h6 class="mb-0">Manage your data and activity</h6>
                    <p class="small mb-0">Select a language for translation</p>
                </div>
                <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i
                            class="bi bi-pencil-square"></i> Change
                </button>
            </li>

            <!-- Privacy item -->
            <li class="list-group-item d-md-flex justify-content-between align-items-start">
                <div class="me-md-3">
                    <h6 class="mb-0">Search history</h6>
                    <p class="small mb-0">Choose to autoplay videos on social</p>
                </div>
                <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i
                            class="bi bi-pencil-square"></i> Change
                </button>
            </li>

            <!-- Privacy item -->
            <li class="list-group-item d-md-flex justify-content-between align-items-start">
                <div class="me-md-3">
                    <h6 class="mb-0">Permitted services</h6>
                    <p class="small mb-0">Choose if this feature appears on your profile</p>
                </div>
                <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i
                            class="bi bi-pencil-square"></i> Change
                </button>
            </li>
        </ul>
        <!-- Privacy END -->
    </div>
    <!-- Card body END -->
    <!-- Button save -->
    <div class="card-footer pt-0 text-end border-0">
        <button type="submit" class="btn btn-sm btn-primary mb-0">Save changes</button>
    </div>
</div>
#}

<div class="card">
    <!-- Card header START -->
    <div class="card-header border-0 pb-0">
        <h5 class="card-title">Vie privée et sécurité</h5>
        <p class="mb-0">Votre sécurité est notre priorité</p>
    </div>
    <!-- Card header START -->
    <!-- Card body START -->
    <div class="card-body">
        <p>
            Les messages que vous envoyez sont totalement cryptés dans notre base de données. Aucun message ne peut être
            décrypté sans votre mot de passe. Votre mot de passe est crypté dans notre base de données, mais
            rappelez-vous que plus il est complexe, plus votre sécurité est renforcée.
        </p>
        <p>
            Pour garantir la confidentialité de vos données, veuillez noter que nous n'avons pas mis en place de
            fonctionnalité de récupération de mot de passe.
            Si vous oubliez votre mot de passe, veuillez contacter le développeur Papoel à l'adresse eterno@papoel.fr.
            Dans ce cas, votre compte actuel sera supprimé, vos données seront définitivement perdus et vous recevrez
            une nouvelle invitation à vous connecter, valable pendant 30 jours.
        </p>
        <div class="alert alert-danger">
            <p class="mt-2 text-danger-emphasis">
                <i class="bi bi-exclamation-triangle"></i>
                N'effectuez cette opération que si vous êtes sûr de ne pas pouvoir récupérer votre mot de passe.
            </p>
        </div>
    </div>
    <!-- Card body END -->
    <!-- Button save -->
    <div class="card-footer pt-0 text-end border-0">
        <form action="" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
            <button type="submit" class="btn btn-sm btn-danger mb-0">
                Demander la suppression de mon compte et recevoir une nouvelle invitation
            </button>
        </form>
    </div>
</div>
