###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> IDE ###
.idea
.DS_Store
###< IDE ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
/assets/uploads/avatar/*
/assets/uploads/photos/lights/*
###< symfony/asset-mapper ###

###> developper ###
/src/Docs/Prod
