parameters:
  level: max
  paths:
    - src
  excludePaths:
    - src/DataFixtures
    - src/Repository
  reportUnmatchedIgnoredErrors: false
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  editorUrlTitle: '%%relFile%%:%%line%%'
