<!-- Card START -->
<div class="card">
    <!-- Card header START -->
    <div class="card-header border-0 pb-0">
        <h5 class="card-title">Clôturer le compte</h5>
        <p class="mb-0">
            Vous pouvez supprimer votre compte à tout moment. <br>
            <strong>Attention, cette action est irréversible.</strong>
        </p>
    </div>
    <div class="card-body" id="deleteAccount">
        <h6>Avant de vous lancer</h6>
        <p class="mb-0">
            Prenez le temps de réfléchir à ce que vous allez perdre en supprimant votre
            compte.
            <br>
            <strong>Aucune donnée ne sera conservée, et vous ne pourrez pas revenir en
                arrière.</strong>
        </p>
        <div class="form-check form-check-md my-4">
            <input class="form-check-input" type="checkbox" value=""
                   id="deleteaccountCheck">
            <label class="form-check-label" for="deleteaccountCheck">
                J'ai bien compris les conséquences de cette action.
            </label>
        </div>
        <a href="#" class="btn btn-success-soft btn-sm mb-2 mb-sm-0">Conserver mon
            compte</a>
        <a href="#" class="btn btn-danger btn-sm mb-0">Supprimer mon compte</a>
    </div>
</div>
<!-- Card END -->
