<fieldset>
    {{ form_start(form, {'attr': {'class': 'd-flex justify-content-between align-items-center'}}) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control mb-0'}}) }}
    <button type="submit" class="btn btn-sm btn-primary ms-3 rounded-2">
        <i class="fa-solid fa-paper-plane fs-6"></i>
    </button>
    {{ form_end(form) }}
</fieldset>
